In [1]:
### importing required resources
import pandas as pd
import numpy as np
import datetime

In [77]:
# specifying file location
file = '//north.cfs.uoguelph.ca/soe-other-home$/dhimanj/Desktop/G8.xlsx'

In [78]:
### reading the file into dataframe
df = pd.read_excel(file)

In [79]:
### getting info about dataframe size and type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161809 entries, 0 to 161808
Data columns (total 2 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date/Time (EST)  161809 non-null  datetime64[ns]
 1   Flow (CMS)       144827 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.5 MB

In [54]:
df['Date/Time (EST)'] = pd.to_datetime(df['Date/Time (EST)'])

In [80]:
### finding daily averages
### setting date as index in the new data set
df.set_index('Date/Time (EST)')

                     Flow (CMS)
Date/Time (EST)
2012-09-18 12:00:00    0.000781
2012-09-18 12:15:00    0.000776
2012-09-18 12:30:00    0.000806
2012-09-18 12:45:00    0.000781
2012-09-18 13:00:00    0.000796
...                         ...
2017-04-30 23:00:00    0.003938
2017-04-30 23:15:00    0.003588
2017-04-30 23:30:00    0.003695
2017-04-30 23:45:00    0.003695
2017-05-01 00:00:00    0.005960

[161809 rows x 1 columns]

In [81]:
### resampling data so that we have daily averages, max and min of the temperatures
daily_mean = df.resample('D', on='Date/Time (EST)').mean()

In [82]:
daily_mean.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1687 entries, 2012-09-18 to 2017-05-01
Freq: D
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Flow (CMS)  1513 non-null   float64
dtypes: float64(1)
memory usage: 26.4 KB

In [84]:
daily_mean.head()

                 Flow (CMS)
Date/Time (EST)
2012-09-18         0.000773
2012-09-19         0.000945
2012-09-20         0.002199
2012-09-21         0.009687
2012-09-22         0.000915

In [85]:
# writing to excel
daily_mean.to_excel(r'//north.cfs.uoguelph.ca/soe-other-home$/dhimanj/Desktop/G8_daily.xlsx')