In [1]:
#importing resources
import pandas as pd
import numpy as np
import datetime

In [2]:
# specifying file location
file = '//north.cfs.uoguelph.ca/soe-other-home$/dhimanj/Desktop/londes_mod_SWAT_surftemp.xlsx'

In [3]:
# reading the file
hru = pd.read_excel(file, header=0)

In [4]:
# checking first 5 rows
hru.tail()

,LULC,HRU,HRUGIS,SUB,YEAR,MON,AREAkm2,PRECIPmm,SURQ_GENmm,TMP_AVdgC,TMP_MXdgC,TMP_MNdgC,YLDt_ha,QTILEmm,YYYYDDD
14243,CLVR,9,90001,9,2014,365,0.006144,1.0,0.0,-8.25,-6.3,-10.2,0.0,0.0,2014365
14244,CLVR,10,100001,10,2014,365,0.000020,1.0,0.0,-8.25,-6.3,-10.2,0.0,0.0,2014365
14245,CLVR,11,110001,11,2014,365,0.015633,1.0,0.0,-8.25,-6.3,-10.2,0.0,0.0,2014365
14246,CLVR,12,120001,12,2014,365,0.006092,1.0,0.0,-8.25,-6.3,-10.2,0.0,0.0,2014365
14247,CLVR,13,130001,13,2014,365,0.010649,1.0,0.0,-8.25,-6.3,-10.2,0.0,0.0,2014365

In [5]:
hru.shape

(14248, 15)

In [6]:
hru.YYYYDDD

0        2012001
1        2012001
2        2012001
3        2012001
4        2012001
          ...
14243    2014365
14244    2014365
14245    2014365
14246    2014365
14247    2014365
Name: YYYYDDD, Length: 14248, dtype: int64

In [7]:
# finding sum of all same HRU nos. in a given day (julian) of given year
hru_sum = hru.groupby(["YYYYDDD"]).mean()

In [8]:
#checking size of the dataframe (12 months x 9 years)
hru_sum.shape

(1096, 13)

In [9]:
# checking 5 rows of new dataframe with average values of the month
hru_sum.head()

,HRU,HRUGIS,SUB,YEAR,MON,AREAkm2,PRECIPmm,SURQ_GENmm,TMP_AVdgC,TMP_MXdgC,TMP_MNdgC,YLDt_ha,QTILEmm
YYYYDDD,,,,,,,,,,,,,
2012001,7,70001,7,2012,1,0.006412,33.8,8.814923,2.1,5.9,-1.7,251.891462,5.319000
2012002,7,70001,7,2012,2,0.006412,10.2,0.000000,-6.1,-2.4,-9.8,0.000000,4.455154
2012003,7,70001,7,2012,3,0.006412,0.0,0.000000,-11.0,-5.8,-16.2,0.000000,3.519154
2012004,7,70001,7,2012,4,0.006412,0.0,0.000000,-6.7,-0.6,-12.8,0.000000,2.749846
2012005,7,70001,7,2012,5,0.006412,0.8,0.000000,-0.5,0.6,-1.6,0.000000,2.128769

In [10]:
# expporting dataframe to excel
hru_sum.to_excel (r'//north.cfs.uoguelph.ca/soe-other-home$/dhimanj/Desktop/surftemp_swat_daily_out.xlsx', index = True, header=True)